* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  background-color: #afd9e7;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 10%;
  background-color: #ffc0cb;
  border: 4px solid #505052;
  border-radius: 15px;
  padding: 15px;
}

.innerContainer {
  width: 100%;
  height: 80%;
  background-color: #fea501;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  border: 4px solid #522c00;
  border-radius: 15px;
}

.article {
  width: 100%;
  height: 70%;
  background-color: #afd9e7;
  border: 4px solid #99322b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}
/* 
.article .ptext {
  font-size: 25px;
  background-color: red;
  padding: 10px;
  word-spacing: 10px;
  text-align;
} */

.article > div {
  width: 50%;
  height: 12%;
}

.article .text {
  background-color: #c0bec1;
  font-size: 16px;
  /* padding: 5px; */
  border: 3px solid #4e4f53;
  border-radius: 10px;
}
.article .image p {
  background-color: #a022e6;
  font-size: 16px;
  padding: 5px;
  border: 3px solid #4e5861;
  border-radius: 10px;
}

.article > .elementWrapper {
  width: 50%;
  height: 40%;
  background-color: #ff7477;
  border: 3px solid #4e5861;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.article > .elementWrapper p {
  font-size: 16px;
}

.article > .elementWrapper div {
  width: 90%;
  background-color: #fea501;
  border-radius: 10px;
  border: 3px solid #4e5861;

}

.article2 {
  width: 100%;
  height: 20%;
  background-color: #afd9e7;
  border: 4px solid #99322b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .ptext {
    font-size: 25px;
    background-color: red;
    word-spacing: 10px;
  } */

  .article2 div .image {
    font-size: 18px;
  }
.article2 .image {
  width: 100%;
  height: 80%;
  background-color: #a022e6;
  font-size: 20px;
  padding: 5px;
  border: 3px solid #4e5861;
  border-radius: 10px;
}
